body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p a,
small a {
  color: rgba(17, 0, 255, 1);
}

p a:hover,
small a:hover {
  text-decoration: underline;

  text-decoration-thickness: 2px;
}

header {
  background-color: lightslategray;
  border-bottom: 2px black solid;
}

main {
  background-color: darkgrey;
}

/* Header section */
.header {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.header-icon-title {
  margin-left: 20px;
}

.header-icon-left,
.header-icon-right {
  width: 50px;
  height: 50px;
}

.header-icon-left {
  background: linear-gradient(45deg, white 50%, transparent 50%);
}
.header-icon-right {
  background: linear-gradient(135deg, transparent 50%, white 50%);
}

.header-icon-left::after {
  content: "o";
  margin: 30px;
  color: white;
}

.header-icon-right::after {
  content: "o";
  margin: 6px;
  color: white;
}

.header-icon-right:hover::after {
  transition: 0.5s;
  margin: 10px;
}

.header-icon-left:hover::after {
  transition: 0.5s;
  margin: 26px;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a:nth-child(1) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.header-links a {
  border-radius: 9999px;
  border: solid black 2px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  margin-left: 12px;
  padding: 8px 20px;
  box-shadow: 2px 2px 1px black;
}

/* Hero starts here! */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}

.hero-text {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: solid black 2px;
  box-shadow: 2px 2px 1px black;
}

.hero-text h1 {
  max-width: 400px;
  font-size: 48px;
  margin-top: 0%;
  margin-bottom: 10px;

  font-weight: bolder;
  color: black;
}

.hero-text p {
  max-width: 400px;
  font-size: 18px;
  margin: 0%;
  color: black;
}

.hero-text p,
h1 {
  margin-bottom: 10px;
}

.hero-img {
  width: 450px;
  height: auto;
  border-radius: 75px;
  border: black solid 2px;
  box-shadow: 2px 2px 1px black;
}

.hero-sign-up {
  display: inline-block;
  padding: 8px 16px;
  background-color: lightgrey;
  border-radius: 8px;
  color: black;
  border: solid 2px black;
  box-shadow: 2px 2px 1px black;
}

.hero-neko {
  display: inline-block;
  color: transparent;
  margin-left: 10px;
  width: 175px;
  font-size: smaller;
}

.hero-neko:hover {
  color: black;
  transition: ease-in-out 0.1s;
}

/* Section 1 starts here */

section {
  padding: 0%;
  margin: 0%;
}

.fox-crew {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
  font-size: 30px;
}

.fox-crew-part {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  column-gap: 50px;
}

.fox-crew-part div img {
  width: 300px;
  height: 300px;
  border-radius: 75px;
  border: 2px black solid;
  box-shadow: 2px 2px 1px black;
}

/* Section 2 begins here */

.quote {
  /* Background */
  background: url(./pictures/the-little-prince.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* Flex */
  display: flex;
  justify-content: center;
}

.quote div {
  /* Flex */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  /* Style */
  background-color: lightgrey;
  border-radius: 25px;
  border: black 2px solid;
  box-shadow: 2px 2px 1px black;
  padding: 25px 50px;
}

/* section 3 Sign Up begins here */

.call-to-action {
  display: flex;
  justify-content: center;
}

.call-text h2,
p {
  margin: 0%;
  padding: 0%;
}

.call-text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  column-gap: 125px;

  /* Style */

  background-color: rgb(133, 207, 231);
  padding: 30px 200px;
}

.call-text div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  color: white;
}

.call-text div h2 {
  font-size: 24px;
}

.call-text a {
  color: white;
  border: 2px white solid;
  padding: 3px 24px;
  border-radius: 5px;
}

.footer {
  background-color: lightgrey;
  /* Style */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
