body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}

@keyframes startup {
}

a {
  text-decoration: none;
  color: rgba(17, 0, 255, 1);
}

.nut-room:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

p,
h1 {
  margin: 0%;
  padding: 0%;
}

header {
  background-color: lightslategray;
  border-bottom: 2px black solid;
}

main {
  background: linear-gradient(grey 80%, white);
}

.header,
.hero,
section,
.footer {
  padding: 12px 48px;
}

/* Header section */
.header {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.header-icon-title {
  margin-left: 20px;
}

.header-icon-left,
.header-icon-right {
  width: 50px;
  height: 50px;
}

.header-icon-left {
  background: linear-gradient(45deg, white 50%, transparent 50%);
}
.header-icon-right {
  background: linear-gradient(135deg, transparent 50%, white 50%);
}

.header-icon-left::after {
  content: "o";
  margin: 30px;
  color: white;
}

.header-icon-right::after {
  content: "o";
  margin: 6px;
  color: white;
}

.header-icon-right:hover::after {
  transition: 0.5s;
  margin: 10px;
}

.header-icon-left:hover::after {
  transition: 0.5s;
  margin: 26px;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  border-radius: 9999px;
  border: solid black 2px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  margin-left: 12px;
  padding: 8px 20px;
  box-shadow: 2px 2px 1px black;
}

/* Hero starts here! */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}

.hero-text {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: solid black 2px;
  box-shadow: 2px 2px 1px black;
}

.hero-text * {
  margin-bottom: 10px;
}

.hero-text h1 {
  max-width: 400px;
  font-size: 48px;
  font-weight: bolder;
  color: black;
}

.hero-text p {
  max-width: 400px;
  font-size: 18px;
  color: black;
}

.hero-img {
  width: 450px;
  height: auto;
  border-radius: 75px;
  border: black solid 2px;
  box-shadow: 2px 2px 1px black;
}

.hero-sign-up {
  display: inline-block;
  padding: 8px 16px;
  background-color: lightgrey;
  border-radius: 8px;
  color: black;
  border: solid 2px black;
  box-shadow: 2px 2px 1px black;
}

.hero-neko {
  display: inline-block;
  color: transparent;
  margin-left: 10px;
  width: 175px;
  font-size: smaller;
}

.hero-neko:hover {
  color: black;
  transition: ease-in-out 0.1s;
}

/* Section 1 starts here */
