* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p a,
small a {
  color: rgba(17, 0, 255, 1);
}

p a:hover,
small a:hover {
  text-decoration: underline;

  text-decoration-thickness: 2px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(153, 153, 153);
}

/* Section heights */

.header {
  padding: 0 24px;
  height: 75px;
}

.hero {
  height: 600px;
}

.fox-crew {
  padding: 75px 0 150px 0;
}

.quote {
  height: 600px;
}

.call-to-action {
  height: 300px;
}

.footer {
  height: 60px;
}

/* Header section */
.header {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Style */
  background-color: lightslategray;
  border-bottom: 2px black solid;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.header-icon-title {
  margin-left: 20px;
}

.header-icon-left,
.header-icon-right {
  width: 50px;
  height: 50px;
}

/* Icon */

.header-icon-left {
  background: linear-gradient(45deg, white 50%, transparent 50%);
}
.header-icon-right {
  background: linear-gradient(135deg, transparent 50%, white 50%);
}

.header-icon-left::after {
  content: "o";
  margin: 30px;
}

.header-icon-right::after {
  content: "o";
  margin: 6px;
}

.header-icon-left::after,
.header-icon-right::after {
  color: white;
}

.header-icon-right:hover::after {
  transition: 0.5s;
  margin: 10px;
}

.header-icon-left:hover::after {
  transition: 0.5s;
  margin: 26px;
}

/* Header links */

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  background-color: white;
  border-radius: 9999px;

  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-left: 12px;
  padding: 8px 20px;
}

.header-links a:nth-child(1) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Hero starts here! */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  background-color: darkgrey;
}

.hero-text {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

/* Hero font */

.hero-text h1 {
  font-size: 48px;
}

.hero-text p {
  font-size: 18px;
}

.hero-text p,
h1 {
  max-width: 400px;
  margin-bottom: 16px;
}

.hero-img {
  width: 450px;
  height: auto;
  border-radius: 75px;
}

.hero-sign-up {
  display: inline-block;
  padding: 8px 16px;
  background-color: lightgrey;
  border-radius: 8px;
  color: black;
}

/* Section 1 starts here */

.fox-crew {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
  font-size: 30px;
}

.fox-crew h1 {
  padding: 0;
  margin: 0;
}

.fox-crew-part {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  column-gap: 50px;
}

.fox-crew-part div img {
  width: 300px;
  height: 300px;
  border-radius: 75px;
}

/* Section 2 begins here */

.quote {
  /* Background */
  background: url(./pictures/the-little-prince.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote div {
  /* Flex */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  row-gap: 25px;
  /* Style */
  background-color: lightgrey;
  border-radius: 25px;

  padding: 25px 50px;
}

.quote * {
  margin: 0%;
  padding: 0%;
}

/* section 3 Sign Up begins here */

.call-to-action,
.call-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.call-text * {
  margin: 0%;
  padding: 0%;
}

.call-text {
  align-items: center;

  column-gap: 125px;

  /* Style */

  background-color: rgb(133, 207, 231);
  padding: 30px 200px;
  border-radius: 6px;
}

.call-text div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.call-text * {
  color: white;
}

.call-text div h2 {
  font-size: 24px;
}

.call-text a {
  border: 2px white solid;
  padding: 3px 24px;
  border-radius: 5px;
}

/* Footer starts here */

.footer {
  background-color: lightgrey;
  /* Style */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Box shadows */

.header-links a,
.hero-text,
.hero-img,
.hero-sign-up,
.fox-crew-part div img,
.quote div {
  box-shadow: 2px 2px 1px black;
  border: solid black 2px;
}
